#all {
  width: 100%;
  margin: 0;
  max-width: 100% !important;
  user-select: none;
  overflow-x: hidden;
}

body {
  max-width: 100% !important;
  background:
    linear-gradient(to right, #9fa1fd, #9596f4, #8a8ceb, #8081e3, #7677da, #5e7dde, #4082df, #0086df, #0096db, #00a1c4, #00a8a2, #00ac7c);
  }

/* N A V B A R */

#navbar {
  position: fixed;
  background: #fff;
  border-bottom: solid 1px #dfdfdf;
  z-index: 10;
}

#container {
  margin-inline-start: 1em;
  justify-content: space-between;
}

#nav-link, #basic-nav-dropdown {
  font-family: fahkwang;
  font-weight: 100;
  color: #474747;
  text-align: end;
  margin-bottom: -1em;
}

#basic-nav-dropdown{
  text-align: center;
}

#links-container {
  margin-right: -25vw;
  padding-inline: 10vw;
}

@media screen and (max-width: 700px) {

  #links-container {
    margin-right: 5em;
    padding-inline: 8vw;
  }
/* 
  #basic-nav-dropdown{
    margin: 0;
    padding: 0;
  }
  

  #nav-link, #basic-nav-dropdown {
    text-align: left;
    margin-left: -1em;
    padding: 0;
  } */

  #home-link{
    display: none;
  }

  /* #links-container {
    margin-right: 0;
    padding-inline: 0;
  } */
}

@media screen and (min-width: 700px){
  #responsive-menu {
    margin-right: -10vw;
  }

}


/* H E R O */

#hero-container {
  background: #fff;
  min-height: 100vh;
  padding-top: 5vh;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#characters img {
  height: 18vmax;
}

#scroll-down {
  position: absolute;
  margin-top: 14vmax;
  margin-left: 22vmax;
  width: 3vmax;
  height: 3vmax;
}

@media screen and (max-width: 700px) {

  #hero-container {
    padding-top: 20vh;
  }

  #scroll-down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-460%, 500%);
    /* margin-top: 32vh;
    margin-left: -35vw; */
    width: 5vmax;
    height: 5vmax;
  }

}

/* G O  T O */

#btn-container {
  padding-block: 1vmax;
}

#col-btn-1 {
  text-align: end;
  padding-right: 6vmax;
}

#col-btn-2 {
  padding-left: 6vmax;
}

.goto-btn {
  background: #fff;
  border: none;
  border-radius: 2em;
  padding-block: 1.5vmax;
  padding-inline: 4vmax;
  font-size: 1em;
  font-family: fahkwang;
  font-weight: 300;
  color: #000;
  width: 20vmax;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.goto-btn:hover {
  background: #E3E0F3;
  color: #474747;
}

@media screen and (max-width: 700px) {

  #col-btn-1,
  #col-btn-2 {
    margin: 1vmax;
    padding: 0;
    text-align: center;
  }

  .goto-btn {
    font-size: 1em;
    padding-block: 1.8vmax;
    width: 30vmax;
  }

}

/* H O W  D O E S I T  W O R K */

#how-works-container {
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  padding-block: 5em;
}

#section-1 {
  margin-top: 5vmax;
}

#section-1 p {
  font-size: 2vmax;
  font-family: italiana;
  font-weight: 300;
}

#illustration-col {
  text-align: center;
  /* border: solid 1px #000; */
}


#main-character-1 {
  width: 8vmax;
}

.buble-container {
  /* border: solid 1px #000; */
  position: relative;
  display: inline-block;
}

#bubble-1 {
  /* border: solid 1px blue; */
  transform: scaleX(-1);
  width: 25vmax;
  margin-top: -120%;
}

.centered-text {
  /* border: solid 1px #000; */
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 1.6vmax;
  font-family: italiana;
  font-weight: 600;
  color: #000;
  margin-top: -62%;
}

@media screen and (max-width: 700px) {
  #illustration-col {
    margin-top: 12vmax;
    margin-left: 15vmax;
  }

  #explination-col {
    margin-top: -2vmax;
    padding-inline: 6.5vmax;
  }
}

.buble-container-2 {
  /* border: solid 1px #000; */
  position: relative;
  display: inline-block;
}

#bubble-2 {
  /* border: solid 1px blue; */
  transform: scaleX(-1) scaleY(-1) rotate(-25deg);
  width: 25vmax;
  margin-top: -125%;
}

.centered-text-2 {
  /* border: solid 1px #000; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -10%);
  font-size: 1.6vmax;
  font-family: italiana;
  font-weight: 600;
  color: #000;
  margin-top: -62%;
}

#explination-col h1 {
  font-size: 4.5vmax;
  font-family: italiana;
  font-weight: 600;
  margin-bottom: 2vmax;
  margin-top: -6vmax;
}

#explination-col p {
  color: #474747;
  font-weight: 600;
}

#main-character-2 {
  width: 16vmax;
}

.buble-container-3 {
  /* border: solid 1px #000; */
  position: relative;
  display: inline-block;
}

#bubble-3 {
  /* border: solid 1px blue; */
  width: 25vmax;
  margin-top: -300%;
  margin-left: 20%;
}

.centered-text-3 {
  /* border: solid 1px #000; */
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-10%, -490%);
  font-size: 1.6vmax;
  font-family: italiana;
  font-weight: 600;
  color: #000;
  margin-top: -62%;
}

#illustration-col-2 {
  text-align: center;
  /* border: solid 1px #000; */
}

@media screen and (max-width: 700px) {
  #illustration-col-2 {
    margin-top: 9vmax;
    margin-left: 18vmax;
    margin-bottom: 3vmax;
  }

  #bubble-3 {
    margin-top: -170%;
    margin-left: -120%;
  }

  .centered-text-3 {
    transform: translate(-170%, -120%);
  }
}

#illustration-col-3 {
  text-align: center;
}

#main-character-3 {
  width: 9vmax;
}

.buble-container-4 {
  /* border: solid 1px #000; */
  position: relative;
  display: inline-block;
}

#bubble-4 {
  /* border: solid 1px blue; */
  transform: scaleX(-1);
  width: 25vmax;
  margin-top: -150%;
  margin-left:-30%;
}

.centered-text-4 {
  /* border: solid 1px #000; */
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-75%, -130%);
  font-size: 2.5vmax;
  font-family: fahkwang ;
  font-weight: 900;
  color: #000;
  margin-top: -60%;
}

#explination-col-3 p {
  font-size: 2vmax;
  font-family: italiana;
  font-weight: 300;
  margin-bottom: 2vmax;
}

@media screen and (max-width: 700px) {
  #explination-col-3 {
    margin-top: -6.5vmax;
  }

  #illustration-col-3 {
    margin-top: 9vmax;
    margin-left: 9vmax;
  }

  #andthatsit h2 {
    margin-top: 3vmax;
  }

  .centered-text-4 {
    top: -50%;
    left: 50%;
    transform: translate(-75%, -90%);
  }
}
